$contentBackground: #efefef;
$borderStyle: #bdbdbd solid 1px;
$backgroundImage: url("../img/header_background_v2.jpg");
$primeryColor: #0401ac;
$headerTextColor: #ff5722;
$hoverButtonColor: darken( $primeryColor, 20% );
$articleBgColor: #ffffff;
$articleDescriptionColor: #bdbdbd;

@mixin fontStyle {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    color: #757575;
    font-weight: normal; 
    line-height: 1.5;
}
@mixin articleHeading {
    text-transform: uppercase;
    color: #607d8b;
    margin: 4px;
}
@mixin button {
    cursor: pointer;
    border: none;
    background-color: $primeryColor;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 60px 10px 60px;
}
@mixin headingStyle {
    text-transform: uppercase;
    margin: 10px 0 0 0;   
    display: flex;
    justify-content: flex-end;
}